In [1]:
# Imports -------------------------
import pandas as pd
# ---------------------------------

In [2]:
NCounts_CIGT = pd.read_csv('Results/NCounts_CIGT.csv')
NCounts_CIGT

,ID,Type,FGR,CD99,ARF5,SLC25A5,POLR2J,IL32,RPS20,IDS,...,MTATP6P1,LINC02972,CHCHD10,EEF1G,BRK1,C17orf49,LOC124903659,RPL17,NDUFA7,EGLN2
0,1058,1,5069.580040,1578.827545,2992.460441,3395.968681,1611.595663,2398.030516,18619.603402,3332.991606,...,19719.677898,4990.868852,373.719041,57813.834711,3010.063149,1122.335152,1186.151740,18162.339198,499.646110,3780.520158
1,1059,1,22322.926466,2977.917867,5103.243995,3036.767940,1406.053242,4941.322966,8062.225679,10545.204014,...,10154.439528,3324.101383,252.586598,26712.912781,2523.261991,1524.612704,220.297177,3295.036434,474.430542,6131.083961
2,1060,1,13309.274821,2625.227716,3452.118435,2699.675801,1713.541827,3821.111384,18238.310869,5798.275658,...,9669.544485,27923.568621,405.456436,47541.807734,3075.430963,1672.903361,743.801781,15782.782156,604.229611,5009.622187
3,1061,1,2092.509298,5217.403538,2348.651952,4755.579746,1902.448739,689.823337,32714.431318,2657.608782,...,18275.561505,2764.023179,307.642235,52272.074896,1992.220640,1298.331547,1388.079434,35091.990798,611.218713,2337.809935
4,1062,1,10993.829656,2478.139442,3871.937688,2526.369235,1892.057554,3776.799535,5219.417688,6519.792646,...,5777.510168,20434.521165,454.303864,13854.950602,3415.620723,1893.874800,680.118769,5727.192667,690.737793,5593.112143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,655,0,31504.607255,3255.911026,3730.017368,3048.706506,1048.029262,4071.288813,8457.360492,13688.423405,...,5938.515145,11401.686321,227.924972,25800.216417,2273.649598,1330.751430,434.642281,3956.475108,462.021279,5865.791959
68,656,0,21039.133213,2778.658293,2275.656845,3030.174777,1112.282795,1083.601090,24764.319265,8841.901232,...,7708.204866,2321.749289,617.759784,66079.910808,3860.368282,1629.795294,339.893955,20161.586529,563.680588,5327.787309
69,657,0,22588.818351,3438.052885,3856.288323,2660.885013,1174.076044,7760.914622,10425.208266,16723.906294,...,4138.766957,2581.266569,191.600944,26637.841436,2515.928494,1228.068759,572.657187,5504.128198,409.904026,7891.519010
70,658,0,18752.923297,3383.866368,2979.236304,3475.303494,1069.758958,6539.832626,14655.016100,11304.538137,...,3496.915905,1633.697432,236.905281,38168.987424,2594.182098,1488.887348,459.956452,6856.094249,478.327002,5191.827723
71,659,0,21653.214034,3285.588236,3140.755937,2982.100166,962.057182,7247.898317,9185.452866,9730.242227,...,4589.744961,39650.364469,338.675093,29649.402087,2561.112574,1495.228542,730.162136,11120.494057,382.049381,5795.120404

In [3]:
mart_export = pd.read_csv('Datasets/mart_export.txt', sep='\t')

mart_export.rename(columns={
    'Chromosome/scaffold name': 'Chromosome',
    'Gene start (bp)': 'Start',
    'Gene end (bp)': 'End',
    'Gene name': 'Gene'
}, inplace=True)

mart_export = mart_export[['Chromosome', 'Start', 'End', 'Gene']]
Genes_CIGT = NCounts_CIGT.columns.tolist()
BED = mart_export[mart_export['Gene'].isin(Genes_CIGT)]
BED.shape

(964, 4)

In [4]:
def is_valid_chromosome(chromosome):
    # Check if chromosome is "X" or "Y"
    if chromosome in ["X", "Y"]:
        return True
    try:
        # Attempt to convert chromosome to an integer
        int(chromosome)
        return True
    except ValueError:
        # If conversion fails, chromosome is not valid
        return False

BED = BED[BED['Chromosome'].apply(is_valid_chromosome)]
BED['Chromosome'] = 'chr' + BED['Chromosome'].astype(str)
BED.shape

(720, 4)

In [5]:
RNASeq_VCF_IDs = pd.read_excel('Datasets/RNA-Seq_VCF_IDs.xlsx')
RNASeq_VCF_IDs['Gene Exp IDs'] = RNASeq_VCF_IDs['Gene Exp IDs'].astype('Int64')
RNASeq_VCF_IDs.drop('RNA-seq Sample IDs', axis = 1, inplace = True)

RNASeq_VCF_IDs

    Gene Exp IDs WGS Sample IDs
0           1059        BR2-106
1           1068        BR2-137
2           1073        BR2-158
3           1084        BR2-178
4           1085        BR2-201
..           ...            ...
91          1079       BR2-1676
92          1080       BR2-1732
93          1081       BR2-1747
94          1082       BR2-1783
95          1083       BR2-1784

[96 rows x 2 columns]

In [6]:
Counts_CIGTV = NCounts_CIGT.merge(RNASeq_VCF_IDs[['Gene Exp IDs', 'WGS Sample IDs']], left_on='ID', right_on='Gene Exp IDs', how='left')
Counts_CIGTV.drop('Gene Exp IDs', axis=1, inplace=True)
Counts_CIGTV.rename(columns={'WGS Sample IDs': 'SNP'}, inplace=True)
cols = [Counts_CIGTV.columns[0], 'SNP'] + [col for col in Counts_CIGTV.columns if col not in ['ID', 'SNP']]
Counts_CIGTV = Counts_CIGTV[cols]
Counts_CIGTV['SNP'] = Counts_CIGTV['SNP'].str.split("-").str[-1]
Counts_CIGTV.rename(columns={'ID': 'RNASeq', 'SNP': 'WGS'}, inplace=True)
Counts_CIGTV

,RNASeq,WGS,Type,FGR,CD99,ARF5,SLC25A5,POLR2J,IL32,RPS20,...,MTATP6P1,LINC02972,CHCHD10,EEF1G,BRK1,C17orf49,LOC124903659,RPL17,NDUFA7,EGLN2
0,1058,1015,1,5069.580040,1578.827545,2992.460441,3395.968681,1611.595663,2398.030516,18619.603402,...,19719.677898,4990.868852,373.719041,57813.834711,3010.063149,1122.335152,1186.151740,18162.339198,499.646110,3780.520158
1,1059,106,1,22322.926466,2977.917867,5103.243995,3036.767940,1406.053242,4941.322966,8062.225679,...,10154.439528,3324.101383,252.586598,26712.912781,2523.261991,1524.612704,220.297177,3295.036434,474.430542,6131.083961
2,1060,1073,1,13309.274821,2625.227716,3452.118435,2699.675801,1713.541827,3821.111384,18238.310869,...,9669.544485,27923.568621,405.456436,47541.807734,3075.430963,1672.903361,743.801781,15782.782156,604.229611,5009.622187
3,1061,1075,1,2092.509298,5217.403538,2348.651952,4755.579746,1902.448739,689.823337,32714.431318,...,18275.561505,2764.023179,307.642235,52272.074896,1992.220640,1298.331547,1388.079434,35091.990798,611.218713,2337.809935
4,1062,1092,1,10993.829656,2478.139442,3871.937688,2526.369235,1892.057554,3776.799535,5219.417688,...,5777.510168,20434.521165,454.303864,13854.950602,3415.620723,1893.874800,680.118769,5727.192667,690.737793,5593.112143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,655,NaN,0,31504.607255,3255.911026,3730.017368,3048.706506,1048.029262,4071.288813,8457.360492,...,5938.515145,11401.686321,227.924972,25800.216417,2273.649598,1330.751430,434.642281,3956.475108,462.021279,5865.791959
68,656,NaN,0,21039.133213,2778.658293,2275.656845,3030.174777,1112.282795,1083.601090,24764.319265,...,7708.204866,2321.749289,617.759784,66079.910808,3860.368282,1629.795294,339.893955,20161.586529,563.680588,5327.787309
69,657,NaN,0,22588.818351,3438.052885,3856.288323,2660.885013,1174.076044,7760.914622,10425.208266,...,4138.766957,2581.266569,191.600944,26637.841436,2515.928494,1228.068759,572.657187,5504.128198,409.904026,7891.519010
70,658,NaN,0,18752.923297,3383.866368,2979.236304,3475.303494,1069.758958,6539.832626,14655.016100,...,3496.915905,1633.697432,236.905281,38168.987424,2594.182098,1488.887348,459.956452,6856.094249,478.327002,5191.827723
71,659,NaN,0,21653.214034,3285.588236,3140.755937,2982.100166,962.057182,7247.898317,9185.452866,...,4589.744961,39650.364469,338.675093,29649.402087,2561.112574,1495.228542,730.162136,11120.494057,382.049381,5795.120404

In [7]:
import pandas as pd
from cyvcf2 import VCF

def parse_csq_header(vcf):
    for header in vcf.header_iter():
        info = header.info(extra=True)
        if info.get('ID') == 'CSQ':
            description = info['Description']
            format_description = description.split('Format: ')[-1].strip('"')
            return format_description.split('|')
    return []

def vcf_to_df(vcf_file):
    vcf = VCF(vcf_file)
    csq_header = parse_csq_header(vcf)
    samples = vcf.samples
    
    field_indices = {field: csq_header.index(field) for field in ['Consequence', 'IMPACT', 'Existing_variation', 'SYMBOL', 'Feature_type', 'Feature', 'gnomADe_AF', 'CADD_PHRED', 'ClinVar_CLNSIG', 'ClinVar_CLNREVSTAT', 'ClinVar_CLNDN'] if field in csq_header}
    
    records = []

    for variant in vcf:
        record = {
            'CHROM': variant.CHROM,
            'POS': variant.POS,
            'ID': variant.ID,
            'REF': variant.REF,
            'ALT': ','.join(variant.ALT),
            'QUAL': variant.QUAL,
            'FILTER': variant.FILTER,
        }
        
        for field in field_indices.keys():
            record[field] = []

        csq_annotations = variant.INFO.get('CSQ', [])
        for annotation in csq_annotations.split(','):
            fields = annotation.split('|')
            for field, index in field_indices.items():
                value = fields[index] if index < len(fields) else ''
                record[field].append(value)
                
        for key in field_indices.keys():
            record[key] = ','.join(set(filter(None, record[key])))
        
        for sample in samples:
            genotype_info_str = variant.format('GT')[vcf.samples.index(sample)]
            # Check if genotype is present and not './.:.:.:.:.'
            is_genotype_present = 1 if not all(gt == './.' for gt in genotype_info_str) else 0
            record[f'{sample}_GT_Presence'] = is_genotype_present

        records.append(record)
    
    return pd.DataFrame(records)

vcf_path = '/projectsp/f_za175_1/ahmedlab_members/projects_zcp/pmi/dna/cvd_vcf_files/CVD-SNPs_VEP_annotated.vcf'
vcf = vcf_to_df(vcf_path)

In [8]:
vcf_df = vcf.copy()

In [9]:
vcf_df['CADD_PHRED'] = pd.to_numeric(vcf_df['CADD_PHRED'], errors='coerce')
vcf_df = vcf_df[vcf_df['CADD_PHRED'] >= 10]
vcf_df['gnomADe_AF'] = pd.to_numeric(vcf_df['gnomADe_AF'], errors='coerce')
vcf_df = vcf_df[vcf_df['gnomADe_AF'] <= 0.001]
vcf_df = vcf_df[vcf_df['QUAL'] >= 50]
vcf_df = vcf_df.drop('QUAL', axis = 1)
vcf_df = vcf_df.drop('FILTER', axis = 1)
vcf_df.shape
vcf_df

,CHROM,POS,ID,REF,ALT,Consequence,IMPACT,Existing_variation,SYMBOL,Feature_type,...,DNA-BR2-860_filtered_snps_dip1_GT_Presence,DNA-BR2-890_filtered_snps_dip1_GT_Presence,DNA-BR2-917_filtered_snps_dip1_GT_Presence,DNA-BR2-921_filtered_snps_dip1_GT_Presence,DNA-BR2-922_filtered_snps_dip1_GT_Presence,DNA-BR2-941_filtered_snps_dip1_GT_Presence,DNA-BR2-947_filtered_snps_dip1_GT_Presence,DNA-BR2-975_filtered_snps_dip1_GT_Presence,DNA-BR2-986_filtered_snps_dip1_GT_Presence,DNA-BR2-995_filtered_snps_dip1_GT_Presence
37,chr13,27424869,None,C,T,"upstream_gene_variant,intron_variant&non_codin...","LOW,MODIFIER",rs149786471,GTF3A,Transcript,...,0,0,0,0,0,0,0,0,0,0
145,chr13,27623037,None,G,A,"upstream_gene_variant,intron_variant&NMD_trans...","LOW,MODIFIER",rs201796232,"POLR1D,LNX2",Transcript,...,0,0,0,0,0,0,0,0,0,0
1544,chr13,30764017,None,T,C,missense_variant,MODERATE,rs41323349&COSV100996298,ALOX5AP,Transcript,...,0,0,0,0,0,0,0,0,0,0
2575,chr13,110642350,None,G,A,"non_coding_transcript_exon_variant,missense_va...","MODERATE,MODIFIER",rs1368294658&COSV57290330,"NAXD,CARS2",Transcript,...,0,0,0,0,0,0,0,0,0,0
2576,chr13,110642449,None,C,T,"non_coding_transcript_exon_variant,missense_va...","MODERATE,MODIFIER",rs146355429,"NAXD,CARS2",Transcript,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98071,chr15,74926878,None,G,A,"5_prime_UTR_variant,missense_variant,intron_va...","MODERATE,MODIFIER",rs140891101,COX5A,Transcript,...,0,0,0,0,0,0,0,0,0,0
98500,chr15,82540457,None,C,G,"upstream_gene_variant,non_coding_transcript_ex...",MODIFIER,rs762051874,"RPS17,CPEB1",Transcript,...,0,0,0,0,0,0,0,0,0,0
99449,chr15,92974840,None,C,G,"intron_variant&NMD_transcript_variant,downstre...",MODIFIER,rs942454077,CHD2,Transcript,...,0,0,0,0,0,0,0,0,0,0
99483,chr15,92980915,None,A,G,splice_donor_region_variant&intron_variant&NMD...,"LOW,MODIFIER",rs202244266,CHD2,Transcript,...,0,0,0,0,0,0,0,0,0,0
99647,chr15,93009265,None,C,T,"upstream_gene_variant,non_coding_transcript_ex...","MODERATE,MODIFIER",rs755898320,CHD2,Transcript,...,0,0,0,0,0,0,0,0,0,0

In [10]:
import re

def extract_id(column_name):
    match = re.search(r'DNA-BR2-(\d+)_', column_name)
    if match:
        return match.group(1)  # Return the ID portion of the match
    return column_name

vcf_df.columns = [extract_id(col) for col in vcf_df.columns]

print(vcf_df.columns)

Index(['CHROM', 'POS', 'ID', 'REF', 'ALT', 'Consequence', 'IMPACT',
       'Existing_variation', 'SYMBOL', 'Feature_type',
       ...
       '860', '890', '917', '921', '922', '941', '947', '975', '986', '995'],
      dtype='object', length=112)

In [11]:
vcf_df['Position'] = vcf_df['CHROM'].astype(str) + ':' + vcf_df['POS'].astype(str)
vcf_df['Allele'] = vcf_df['REF'].astype(str) + '>' + vcf_df['ALT'].astype(str)

# Rename columns
vcf_df.rename(columns={
    'Existing_variation': 'SNV',
    'SYMBOL': 'Gene',
    'gnomADe_AF': 'Allele Frequency',
    'CADD_PHRED': 'CADD Phred'
}, inplace = True)

new_column_order = ['Position', 'Allele'] + [col for col in vcf_df.columns if col not in ['Position', 'Allele', 'CHROM', 'POS', 'REF', 'ALT']]
vcf_df = vcf_df[new_column_order]

In [12]:
def filter_snv_names(snv_str):
    snv_list = snv_str.split(',')
    filtered_snv_list = [snv for snv in snv_list if snv.strip().startswith('rs')]
    return ', '.join(filtered_snv_list)

vcf_df['SNV'] = vcf_df['SNV'].apply(filter_snv_names)
vcf_df.reset_index(drop=True, inplace=True)
CIGT_df = vcf_df.copy()

/tmp/ipykernel_233915/745260662.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vcf_df['SNV'] = vcf_df['SNV'].apply(filter_snv_names)

In [13]:
vcf_df = vcf_df[['SNV', 'Position', 'Allele', 'Feature', 'Consequence', 'Allele Frequency', 'CADD Phred', 'Gene', 'ClinVar_CLNSIG', 'ClinVar_CLNREVSTAT', 'ClinVar_CLNDN']]

In [14]:
# Category mapping
category_mapping = {
    '3_prime_UTR_variant': "3'-UTR",
    '5_prime_UTR_variant': "5'-UTR",
    'NMD_transcript_variant': "NMD Transcript",
    'downstream_gene_variant': "Downstream Gene",
    'intron_variant': "Intron",
    'mature_miRNA_variant': "Mature miRNA",
    'missense_variant': "Missense",
    'non_coding_transcript_exon_variant': "NC Transcript Exon",
    'non_coding_transcript_variant': "NC Transcript",
    'splice_acceptor_variant': "Splice Acceptor",
    'splice_donor_5th_base_variant': "Splice Donor 5th Base",
    'splice_donor_region_variant': "Splice Donor Region",
    'splice_polypyrimidine_tract_variant': "Splice Polypyrimidine Tract",
    'splice_region_variant': "Splice Region",
    'start_lost': "Start Lost",
    'stop_gained': "Stop Gained",
    'stop_retained_variant': "Stop Retained",
    'synonymous_variant': "Synonymous",
    'upstream_gene_variant': "Upstream Gene"
}

def clean_consequence(consequence):
    unique_consequences = sorted(set(
        category_mapping.get(part, part) 
        for part in consequence.replace('&', ',').split(',')
    ))
    return ', '.join(unique_consequences)

vcf_df['Consequence'] = vcf_df['Consequence'].apply(clean_consequence)

def add_space_after_commas(feature):
    return '|'.join([part.replace(',', ', ') for part in feature.split('|')])

vcf_df['Feature'] = vcf_df['Feature'].apply(add_space_after_commas)
vcf_df

,SNV,Position,Allele,Feature,Consequence,Allele Frequency,CADD Phred,Gene,ClinVar_CLNSIG,ClinVar_CLNREVSTAT,ClinVar_CLNDN
0,rs149786471,chr13:27424869,C>T,"ENST00000493903, ENST00000438571, ENST00000470...","Intron, NC Transcript, NMD Transcript, Synonym...",0.000564,12.01,GTF3A,,,
1,rs201796232,chr13:27623037,G>A,"ENST00000399697, ENST00000636618, ENST00000636...","Downstream Gene, Intron, NC Transcript, NMD Tr...",0.000052,12.62,"POLR1D,LNX2",Likely_benign,criteria_provided&_single_submitter,not_provided
2,rs41323349&COSV100996298,chr13:30764017,T>C,"ENST00000380490, ENST00000617770",Missense,0.000143,18.94,ALOX5AP,,,
3,rs1368294658&COSV57290330,chr13:110642350,G>A,"ENST00000471986, ENST00000541362, ENST00000541...","3'-UTR, Downstream Gene, Missense, NC Transcri...",0.000006,29.20,"NAXD,CARS2",Uncertain_significance,criteria_provided&_single_submitter,Combined_oxidative_phosphorylation_defect_type_27
4,rs146355429,chr13:110642449,C>T,"ENST00000471986, ENST00000541362, ENST00000541...","3'-UTR, Downstream Gene, Missense, NC Transcri...",0.000788,22.50,"NAXD,CARS2",Benign,criteria_provided&_multiple_submitters&_no_con...,Combined_oxidative_phosphorylation_defect_type...
...,...,...,...,...,...,...,...,...,...,...,...
578,rs140891101,chr15:74926878,G>A,"ENST00000568783, ENST00000564811, ENST00000562...","5'-UTR, Intron, Missense",0.000076,24.70,COX5A,,,
579,rs762051874,chr15:82540457,C>G,"ENST00000611031, ENST00000684509, ENST00000614...","5'-UTR, Downstream Gene, NC Transcript Exon, U...",0.000253,12.11,"RPS17,CPEB1",,,
580,rs942454077,chr15:92974840,C>G,"ENST00000636881, ENST00000636306, ENST00000628...","Downstream Gene, Intron, NC Transcript, NMD Tr...",0.000004,15.79,CHD2,,,
581,rs202244266,chr15:92980915,A>G,"ENST00000636881, ENST00000636306, ENST00000637...","Downstream Gene, Intron, NC Transcript, NMD Tr...",0.000273,18.30,CHD2,Benign/Likely_benign,criteria_provided&_multiple_submitters&_no_con...,not_provided&Inborn_genetic_diseases&Developme...
582,rs755898320,chr15:93009265,C>T,"ENST00000625662, ENST00000630813, ENST00000394...","3'-UTR, Downstream Gene, Missense, NC Transcri...",0.000020,29.80,CHD2,Conflicting_classifications_of_pathogenicity,criteria_provided&_conflicting_classifications,Childhood_epilepsy_with_centrotemporal_spikes&...

In [15]:
SNVs_CIGT = CIGT_df

columns_to_drop = [
    'Position',
    'Allele',
    'Gene',
    'Allele Frequency',
    'Feature',
    'Consequence',
    'IMPACT',
    'ClinVar_CLNSIG',
    'ClinVar_CLNREVSTAT',
    'ClinVar_CLNDN',
    'Feature_type',
    'CADD Phred'
]

SNVs_CIGT = CIGT_df.drop(columns = columns_to_drop)
df_transposed = SNVs_CIGT.transpose()
header = df_transposed.iloc[1]
df_transposed = df_transposed[2:]
df_transposed.columns = header
df_transposed.reset_index(inplace=True)
df_transposed.rename(columns={'index': 'WGS'}, inplace=True)
df_transposed.columns.name = None
#df_transposed.to_csv('Results/SNVs_CIGT.csv', index = None)

In [16]:
NCounts_DE_CIGT = pd.read_csv('Results/NCounts_DE_CIGT.csv')
RNASeq_VCF_IDs = pd.read_excel('Datasets/RNA-Seq_VCF_IDs.xlsx')
RNASeq_VCF_IDs['Gene Exp IDs'] = RNASeq_VCF_IDs['Gene Exp IDs'].astype('Int64')
RNASeq_VCF_IDs.drop('RNA-seq Sample IDs', axis = 1, inplace = True)

In [17]:
NCounts_DE_CIGT = NCounts_DE_CIGT.merge(RNASeq_VCF_IDs[['Gene Exp IDs', 'WGS Sample IDs']], left_on='ID', right_on='Gene Exp IDs', how='left')
NCounts_DE_CIGT.drop('Gene Exp IDs', axis=1, inplace=True)
NCounts_DE_CIGT.rename(columns={'WGS Sample IDs': 'SNP'}, inplace=True)
cols = [NCounts_DE_CIGT.columns[0], 'SNP'] + [col for col in NCounts_DE_CIGT.columns if col not in ['ID', 'SNP']]
NCounts_DE_CIGT = NCounts_DE_CIGT[cols]
NCounts_DE_CIGT['SNP'] = NCounts_DE_CIGT['SNP'].str.split("-").str[-1]
NCounts_DE_CIGT.rename(columns={'ID': 'RNASeq', 'SNP': 'WGS'}, inplace=True)

In [18]:
SNVs_CADD = pd.read_csv('Results/SNVs_CADD.csv')
SNVs_CIGT = pd.read_csv('Results/SNVs_CIGT.csv')
SNVs_CIGT

,WGS,rs149786471,rs201796232,rs41323349,rs1368294658,rs146355429,rs150286306,rs115915862,rs121913212,rs372840826,...,rs139347006,rs138683313,rs752175601,rs181780074,rs778137192,rs140891101,rs762051874,rs942454077,rs202244266,rs755898320
0,1007,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1015,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,106,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1073,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1075,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,941,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,947,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
93,975,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94,986,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,995,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
unique_genes = NCounts_DE_CIGT.columns.drop(['RNASeq', 'WGS', 'Type']).unique()
relevant_SNVs = SNVs_CADD[SNVs_CADD['Gene'].apply(lambda x: any(gene in x.split(', ') for gene in unique_genes))]
relevant_SNV_ids = relevant_SNVs['SNV'].tolist()
relevant_SNVs_CIGT = SNVs_CIGT[['WGS'] + [snv for snv in relevant_SNV_ids if snv in SNVs_CIGT.columns]]
relevant_SNVs_CIGT

,WGS,rs750853525,rs149483341,rs764894987,rs141799330,rs61737078,rs115891972,rs759402008,rs773349568,rs776267089,...,rs1455280111,rs147644033,rs141524982,rs760078095,rs777136283,rs142659476,rs373979544,rs2229568,rs751011909,rs201003183
0,1007,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,1015,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,106,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,1073,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,1075,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,941,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
92,947,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
93,975,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
94,986,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
95,995,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [20]:
NCounts_DE_CIGT = pd.read_csv('Results/NCounts_MRMR_CIGT.csv')
RNASeq_VCF_IDs = pd.read_excel('Datasets/RNA-Seq_VCF_IDs.xlsx')
RNASeq_VCF_IDs['Gene Exp IDs'] = RNASeq_VCF_IDs['Gene Exp IDs'].astype('Int64')
RNASeq_VCF_IDs.drop('RNA-seq Sample IDs', axis = 1, inplace = True)

In [21]:
NCounts_DE_CIGT = NCounts_DE_CIGT.merge(RNASeq_VCF_IDs[['Gene Exp IDs', 'WGS Sample IDs']], left_on='ID', right_on='Gene Exp IDs', how='left')
NCounts_DE_CIGT.drop('Gene Exp IDs', axis=1, inplace=True)
NCounts_DE_CIGT.rename(columns={'WGS Sample IDs': 'SNP'}, inplace=True)
cols = [NCounts_DE_CIGT.columns[0], 'SNP'] + [col for col in NCounts_DE_CIGT.columns if col not in ['ID', 'SNP']]
NCounts_DE_CIGT = NCounts_DE_CIGT[cols]
NCounts_DE_CIGT['SNP'] = NCounts_DE_CIGT['SNP'].str.split("-").str[-1]
NCounts_DE_CIGT.rename(columns={'ID': 'RNASeq', 'SNP': 'WGS'}, inplace=True)
NCounts_DE_CIGT['WGS'] = pd.to_numeric(NCounts_DE_CIGT['WGS'], errors='coerce', downcast = 'integer')
relevant_SNVs_CIGT['WGS'] = pd.to_numeric(relevant_SNVs_CIGT['WGS'], errors='coerce', downcast = 'integer')
merged_df = pd.merge(NCounts_DE_CIGT, relevant_SNVs_CIGT, on = "WGS", how = "left")

df = merged_df
columns_to_check = [col for col in df.columns if col.startswith('rs')]
for col in columns_to_check:
    if df[col].sum() == 0 or df[col].sum() >= 2:
        df.drop(col, axis=1, inplace=True)

df

/tmp/ipykernel_233915/2749185975.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relevant_SNVs_CIGT['WGS'] = pd.to_numeric(relevant_SNVs_CIGT['WGS'], errors='coerce', downcast = 'integer')

,RNASeq,WGS,Type,ITGB2,CD37,PSAP,ACTB,NCF2,RPL36AP37,ICAM3,...,rs776267089,rs576978943,rs199926951,rs147644033,rs141524982,rs760078095,rs142659476,rs373979544,rs751011909,rs201003183
0,1058,1015.0,1,4548.677784,3660.736379,5863.988878,12385.207637,6148.334448,1518.822497,13265.487036,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1059,106.0,1,124879.234935,19113.735744,279357.489566,608726.450497,111664.456189,1934.099164,77493.653917,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1060,1073.0,1,5953.106938,2044.527930,10306.820311,1975.563256,5884.256340,774.644169,4189.146182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1061,1075.0,1,4214.638703,3451.229022,2651.509724,6023.765331,4935.384585,1763.194964,15491.497760,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1062,1092.0,1,10463.844887,1427.657073,17523.270634,3686.268834,2322.710650,614.125628,5090.617220,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,655,NaN,0,98855.601898,27179.390329,252757.367055,380779.010979,75440.352113,809.269232,67120.269202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,656,NaN,0,28991.111376,204228.219960,85552.532871,382903.522607,34512.422386,3602.552740,40857.701472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,657,NaN,0,119816.138095,32565.924749,203682.325459,402246.347500,89878.633666,785.224585,78505.928440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,658,NaN,0,117019.882980,32152.778324,237395.224695,471175.673565,80108.096518,947.099112,50852.255582,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,659,NaN,0,100773.790645,21794.622540,186214.309261,384052.077427,54938.490028,747.513140,42263.271888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN